@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background: #050505;
  --middleground: #202020;
  --foreground: #333;
  --action: #444;
  --text: white ;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--action);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: 'Geologica', Helvetica;
}
